# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist
build

# Environment files
.env
.env.*
!.env.dev

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
LICENSE
*.md

# Tests
__tests__
*.test.ts
*.spec.ts
coverage

# Misc
*.log
*.tmp
*.bak
